In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("spam.csv", encoding="latin-1")

In [4]:
data.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [6]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [7]:
data.head()

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
data['class']=data['class'].map({'ham':0, 'spam':1})

In [9]:
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [34]:
from sklearn.model_selection import train_test_split

In [11]:
X=data['message']
y=data['class']

In [12]:
X.shape

(5572,)

In [13]:
y.shape

(5572,)

In [14]:
data.isnull().sum()

class      0
message    0
dtype: int64

In [15]:
cv=CountVectorizer()

In [16]:
X=cv.fit_transform(X)

In [18]:
x_train, x_test,y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

NameError: name 'train_test_split' is not defined

In [19]:
x_train.shape

NameError: name 'x_train' is not defined

In [20]:
x_test.shape

NameError: name 'x_test' is not defined

In [21]:
from sklearn.naive_bayes import MultinomialNB

In [22]:
model=MultinomialNB()

In [23]:
model.fit(x_train, y_train)

NameError: name 'x_train' is not defined

In [24]:
model.score(x_test, y_test)

NameError: name 'x_test' is not defined

In [48]:
msg="You Won 500$"
data = [msg]
vect = cv.transform(data).toarray()
my_prediction = model.predict(vect)

In [49]:
vect

array([[0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [50]:
import pickle
pickle.dump(model, open('spam.pkl','wb'))
model1 = pickle.load(open('spam.pkl','rb'))

In [51]:
from win32com.client import Dispatch

In [52]:
def speak(text):
	speak=Dispatch(("SAPI.SpVoice"))
	speak.Speak(text)

In [53]:
def result(msg):
    data = [msg]
    vect = cv.transform(data).toarray()
    my_prediction = model1.predict(vect)
    if my_prediction[0]==1:
        speak("This is a Spam mail")
        print("This is a Spam mail")
    else:
        speak("This is not a Spam mail")
        print("This is not a Spam mail")

In [54]:
import tkinter as tk

In [55]:
root=tk.Tk()
root.geometry("200x200")
l2=tk.Label(root, text="Email Spam Classification Application")
l2.pack()
l1=tk.Label(root, text="Enter Your Message:")
l1.pack()
text=tk.Entry(root)
text.pack()
def result():
    data = [text.get()]
    vect = cv.transform(data).toarray()
    my_prediction = model1.predict(vect)
    if my_prediction[0]==1:
        speak("This is a Spam mail")
        print("This is a Spam mail")
    else:
        speak("This is not a Spam mail")
        print("This is not a Spam mail")
B=tk.Button(root, text="Click", command=result)
B.pack()

root.mainloop()

This is a Spam mail